<h1>Listing weird_enterprise_stuffs</h1>

<table>
  <thead>
    <tr>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weird_enterprise_stuffs.each do |weird_enterprise_stuff| %>
      <tr>
        <td><%= weird_enterprise_stuff.priority %></td>
        <td><%= link_to 'Show', weird_enterprise_stuff %></td>
        <td><%= link_to 'Edit', edit_weird_enterprise_stuff_path(weird_enterprise_stuff) %></td>
        <td><%= link_to 'Destroy', weird_enterprise_stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weird enterprise stuff', new_weird_enterprise_stuff_path %>
